<?xml version="1.0"?>

<launch>

    <arg name="checkpoint" default="false" />

    <!-- ################### STATE PUBLISHERS ################### -->

    <param command="$(find xacro)/xacro $(find spark_description)/urdf/spark_description.xacro"
        name="robot_description" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- ################### GAZEBO ################### -->

    <arg name="x_pos" default="-4.0" />
    <arg name="y_pos" default="-2.0" />
    <arg name="z_pos" default="0.2" />
    <arg name="yaw" default="0.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find spark_gazebo)/worlds/house.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <node
        args="-param robot_description -urdf -model spark -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw)"
        name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" />

    <!-- ################### LASER MERGER ################### -->

    <include file="$(find spark_laser_merger)/launch/laser_merger.launch"></include>

    <!-- ################### CHECKPOINT SAVER ################### -->

    <node if="$(arg checkpoint)" pkg="spark_slam" type="checkpoint_saver.py"
        name="checkpoint_saver"
        args="$(find spark_navigation)/config/checkpoints.yaml"
        output="screen" />

    <!-- ################### CHECKPOINT SAVER ################### -->

    <node if="$(arg checkpoint)" pkg="spark_navigation" type="update_initpose.py"
        name="update_initpose"
        args="$(find spark_navigation)/config/checkpoints.yaml"
        output="screen" />

    <!-- ################### BATTERY ################### -->

    <node pkg="spark_gazebo" type="battery" name="battery"
        args="0.5 0.5" output="screen" />


</launch>