<?xml version="1.0"?>

<launch>

    <!-- ################### STATE PUBLISHERS ################### -->

    <arg default="$(find spark_description)/urdf/spark_description.xacro" name="model" />
    <param command="$(find xacro)/xacro $(arg model)" name="robot_description" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- ################### GAZEBO ################### -->

    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find spark_gazebo)/worlds/empty_world.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <node
        args="-param robot_description -urdf -model spark -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) "
        name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" />

    <!-- Controller configuration -->
    <arg name="controller_config_file" default="$(find spark_gazebo)/config/ur3_controllers.yaml"
        doc="Config file used for defining the ROS-Control controllers." />
    <arg name="controllers" default="joint_state_controller eff_joint_traj_controller"
        doc="Controllers that are activated by default." />
    <arg name="stopped_controllers" default="joint_group_eff_controller"
        doc="Controllers that are initally loaded, but not started." />


    <include file="$(dirname)/inc/ur_control.launch.xml">
        <arg name="controller_config_file" value="$(arg controller_config_file)" />
        <arg name="controllers" value="$(arg controllers)" />
        <arg name="stopped_controllers" value="$(arg stopped_controllers)" />
    </include>

</launch>