<launch>
  <arg name="map_file" default="$(find spark_navigation)/maps/house.yaml" />
  <arg name="move_forward_only" default="false" />

  <!-- ################### MAPPING ################### -->

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node"
    args=" 
		-configuration_directory $(find spark_slam)/config 
		-configuration_basename carto.lua"
    output="screen">
    <remap from="scan" to="/scan/merge" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <!-- ################### MOVEBASE ################### -->

  <include file="$(find spark_navigation)/launch/spark_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)" />
  </include>

  <!-- ################### RVIZ ################### -->

  <arg default="$(find spark_description)/rviz/navigation.rviz" name="rvizconfig" />
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz" />

</launch>