<?xml version="1.0"?>

<model>
  <name>Arena</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aditya Patil</name>
    <email>patiladitya1309@gmail.com</email>
  </author>

  <description>
    Arena for robocon 24
  </description>

</model>
